<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="avtoService" class="avto_test.avtoService.AvtoServiceImpl">
        <!-- sviazali avtoService i avtoRepo -->

        <!--rabotaet cherez set metod v classe AvtoServiceImpl-->
        <property name="avtoRepo" ref="avtoRepo"/>

        <!--rabotaet cherez constructor-->
        <!--<constructor-arg index="0" ref="avtoRepo"/>-->

    </bean>
    <!--&lt;!&ndash; realizatsia &ndash;&gt;-->

    <bean name="avtoRepo" class="avto_test.avtoRepo.AvtoRepoImpl"/>

    <!-- cherez autowire-->
    <!--<bean name="avtoRepo1" class="avto_test.avtoRepo.AvtoRepoImpl1"/>-->
    <!--<bean name="avtoService" autowire="byName" class="avto_test.avtoRepo.AvtoRepoImpl1"/>-->


</beans>